<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Five Clean Architecture Template swift file - Model, Interactor, Presenter, ViewController and Router</string>
	<key>Summary</key>
	<string>Five Clean Architecture Template swift file - Model, Interactor, Presenter, ViewController and Router.</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>Scene</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>SceneName:</string>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>MainTemplateFiles</key>
			<array>
				<string>___VARIABLE_productName___Models.swift</string>
				<string>___VARIABLE_productName___Interactor.swift</string>
				<string>___VARIABLE_productName___Presenter.swift</string>
				<string>___VARIABLE_productName___ViewController.swift</string>
				<string>___VARIABLE_productName___Router.swift</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
